# Models
*.onnx
*.pt
yolov12/

# Misc & Caches
*-venv/
__pycache__
scraping/automation
.github
corpus
vespa_storage
.vercel
.langgraph_api
react_agent_engine.egg-info/
agent.egg-info/
.deepeval/
.vscode/
.fastembed_cache

# Env
.env
.env*.local

# Data
data/plantwild/evaluation/images/*
!data/plantwild/evaluation/images/.gitkeep
data/knowledge_base/
data/corpus
data/evaluation_cache
scraping/llm/data/gardenology_relevant_links.jsonl
scraping/llm/data/gardenology_verified_links_v2.jsonl
scraping/llm/data/gardenology_verified_links.jsonl

**/qdrant_storage/*
!**/qdrant_storage/
!**/qdrant_storage/.gitkeep

**/research/image-retrieval-engine/data/plantwild/images/*
!**/research/image-retrieval-engine/data/plantwild/images/
!**/research/image-retrieval-engine/data/plantwild/images/.gitkeep

research/image-retrieval-engine/data/plantwild/evaluation/images/*
!research/image-retrieval-engine/data/plantwild/evaluation/images/
!research/image-retrieval-engine/data/plantwild/evaluation/images/.gitkeep

research/object-detection-engine/data/plantdoc/*
!research/object-detection-engine/data/plantdoc/
!research/object-detection-engine/data/plantdoc/.gitkeep

# Unused Files & Directories
old/
mwe/
backup/
prompts/
ablation_configs.py